<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_6_1.xsd"
         version="6.1">
    <servlet>
        <!--
            When this servlet is created by the servlet container, Spring MVC
            will load the Spring config file WEB-INF/integrationAppServlet-servlet.xml
            and create WebApplicationContext from it
        -->
        <servlet-name>integrationAppServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>integrationAppServlet</servlet-name>
        <url-pattern>/integration/*</url-pattern>
    </servlet-mapping>
</web-app>